mainHeight = 90vh
#mainContainer
    height mainHeight
    #gridPage
        display none
    .page
        height mainHeight
        #map
            height mainHeight;
            padding 0
            margin 0